@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/*------------------------Heading*/

.nav-name {
  color: #fafafa;
  font-family: Oswald, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  text-transform: uppercase;
}

.nav-logo {
  border: 1px solid white;
  height: 75px;
  width: 75px;
}

/*------------------------ Home page  */

.mainpage-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.first-section-with-picture {
    margin-bottom: 20px;
}

.home-text-section {
    background-color: rgb(208, 242, 252);
}

.home-intro-text-div {
  margin-top: 10px;
  text-align: center;
}

.home-intro-headings {
  font-family: Oswald, sans-serif;
  font-size: 4.8vh;
  text-decoration: underline;
}

.home-intro-text {
  font-family: Noto Sans KR, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.btn-home {
  padding: 0;
}

.cta-link {
  color: #0c1f35;
  font-family: Noto Sans KR, sans-serif;
  height: 100%;
  width: 100%;
}

.cta-link:hover {
  color: #fafafa;
  text-decoration: none;
}

/*------------------------About me page*/

.about-me-quote {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 14px;
  text-align: center;
}

.about-me-section {
  background-color: rgb(208, 242, 252);
  margin-top: 13px;
}

.about-me-personal-col {
}

.about-me-personal-pic {
  margin: 0 auto;
}

.about-me-profile-pic {
  width: 100%;
}

.about-me-heading-text-div {
  margin-top: 20px;
}

.about-me-heading-name {
  font-family: Oswald, sans-serif;
  font-size: 5.5vh;
  margin-bottom: 16px;
  text-align: center;
}

.about-me-heading-title {
  font-family: Oswald, sans-serif;
  font-size: 4.8vh;
  text-align: center;
}

.about-me-heading-text {
  font-family: Noto Sans KR, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.about-me-paragraph-section {
  margin-top: 20px;
  text-align: center;
}

.about-me-paragraph-section-headings {
  font-family: Oswald, sans-serif;
  font-size: 4.8vh;
  text-decoration: underline;
}

.about-me-paragraph-section-text {
  font-family: Noto Sans KR, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  text-align: justify !important;
  text-justify: inter-word !important;
}

/*------------------------Programme page  */

.programme-page-header {
  letter-spacing: 1px;
  font-family: Oswald, sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.programme-page-subtitles {
  font-family: Oswald, sans-serif;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.Workout-plan-image-div {
  height: 50%;
  margin: 0 auto;
  text-align: center;
  width: 76%;
}

.Workout-plan-image {
  border-radius: 46%;
  height: 80%;
  width: 80%;
}

.programme-page-text {
  font-family: Noto Sans KR, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  width: 80%;
}

.programme-list {
  padding-top: 8px;
  padding-left: 22px;
}

.programme-button-div {
  margin-bottom: 18px;
  text-align: center;
}

.btn-contact {
  border: 2px solid white;
  background-color: rgb(102, 102, 102);
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
}

/*------------------------Contact page*/

.contact-heading {
  font-family: Noto Sans KR, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 20px;
}

.contact-text-div > h3 {
  width: 60%;
}

.center-form {
  margin: 0 auto;
  max-width: 70%;
  padding-top: 10px;
}

.contact-input-bar {
  margin-bottom: 10px;
  margin-top: 10px;
}

button[type="submit"] {
  border: 2px solid #0c1f35;
  background-color: #d4af36;
  color: black;
  font-family: Oswald, sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;
}

.hvr-shutter-out-vertical:before {
  background: #0c1f35;
  color: #ececec;
}

/*------------------------Bg colours*/

.nav-bg-color {
  background-color: #0c1f35;
}

.social-link li a i:hover {
  background: #d4af36;
}

.programme-to-contact i:hover {
  color: #d4af36;
}

.cara-item {
  background-color: rgba(0, 0, 0, 0.25);
}

.body-bg-color,
body,
section {
  background-color: #ececec;
}

.bg-color-contact {
  background-color: #ececec;
}

.home-merch-cards {
  background-color: rgb(141, 141, 141);
  height: 400px;
}

/*------------------------special paddings/ margins/ sizes*/

.breakline {
  border: 0;
  background-color: #0c1f35;
  height: 5px;
  width: 320px;
}

.section-seperator {
  border: 0;
  background-color: white;
  height: 10%;
  width: 400px;
}

#pro-heading {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 20px;
}

.foot-address {
  margin: 0;
  padding: 0;
}

.tfit-footer {
  margin-bottom: 0;
}

.personal-pic {
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 200px;
  max-width: 300px;
  position: relative;
  text-align: center;
}

.personal-pic-container {
  align-content: center;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
}

.home-merch-section {
  margin-top: 30px;
}

/*------------------footer*/

footer {
  background-color: #0c1f35;
  color: #fafafa;
  margin: 0;
  min-width: 120px;
  text-align: center;
}

#footer-details {
  padding: 20px;
}

.contact-footer i {
  color: #fafafa;
  font-size: 18p;
  padding-left: 5px;
  text-align: center;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.contact-footer i:hover {
  color: #d4af36;
}

.social-link {
  padding-bottom: 15px;
}

.social-link li a i {
  background: #8f8f8f;
  border-radius: 50%;
  color: #fafafa;
  font-size: 13px;
  height: 32px;
  line-height: 7px;
  padding: 12px 0;
  text-align: center;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 32px;
}

/*------------------@media*/

@media (min-width: 300px) and (max-width: 640px) {
  #pro-heading {
    font-size: 30px;
  }
}

@media (min-width: 640px) and (max-width: px) {
  #pro-heading {
    font-size: 36px;
  }
}

@media (min-width: 300px) and (max-width: 985px) {
  .navbar-text {
    font-size: 0px;
  }
}

@media (min-width: 992px) {
  .center-form {
    margin: 0 auto;
    min-height: 248px;
    max-width: 50%;
    padding-top: 30px;
  }
}
